<!DOCTYPE>
<html>
<head>
<title>
    Fraudulent Job Detector
</title>
</head>
<body>
<form method="POST">

    <input type="text" name="Company name" placeholder="Enter company name"/><br>
    <input type="text" name="Job title" placeholder="Enter job title"/><br>
    <input type="text" name="Job title" placeholder="Enter job title"/><br>
    <input type="text" name="Job Description" placeholder="Enter job Description"/><br>
    <input type="text" name="Required qualifications" placeholder="Enter job qualifications required"/><br>
    <input type="text" name="Job Responsibility" placeholder="Enter job Responsibility"/><br>
    <input type="submit" value="Post Job" />
</form>
</body>
</html>
